@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'SOYOMapleBoldTTF', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  position: relative;
  overflow: hidden;
}

.login-container {
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
  animation: fadeIn 1.5s ease;
}

.login-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: fadeInDown 1s ease;
}

.login-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4b2b;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeInUp 1s ease;
}

.login-button:hover {
  background-color: #357ae8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Background animations */
.background-bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.background-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: bubble 25s linear infinite;
  bottom: -150px;
  border-radius: 50%;
}

.background-bubbles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-duration: 12s;
  animation-delay: 0s;
}

.background-bubbles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-duration: 18s;
  animation-delay: 2s;
}

.background-bubbles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-duration: 16s;
  animation-delay: 4s;
}

.background-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  animation-delay: 0s;
}

.background-bubbles li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-duration: 24s;
  animation-delay: 0s;
}

.background-bubbles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-duration: 22s;
  animation-delay: 3s;
}

.background-bubbles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-duration: 24s;
  animation-delay: 7s;
}

.background-bubbles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-duration: 12s;
  animation-delay: 5s;
}

.background-bubbles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-duration: 16s;
  animation-delay: 6s;
}

.background-bubbles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-duration: 18s;
  animation-delay: 7s;
}

@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-1000px) scale(1.5);
  }
}

.chat-container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px 7px #4285F4;
}

.sidebar {
  width: 25%;
  background: #d0e0ff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.logout-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #ff4b5c;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e03a47;
}

.chat-room-list {
  list-style: none;
  padding: 0;
}

.chat-room-list li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-room-list li:hover {
  background-color: #7983972f;
}

.chat-room-list .active {
  background-color: #7983972f;
}

.create-chat-room,
.search-users {
  margin-top: 20px;
}

.plus-icon {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #ff4b5c;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #e03a47;
}

.chat-room-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #d0e0ff;
}

.chat-window h2 {
  padding: 10px 20px;
  background-color: #c1d1ecbe;
  border-bottom: 1px solid #e0e0e0;
}

.messages-list {
  flex: 1;
  padding: 10px 20px;
  list-style: none;
  overflow-y: auto;
  background: #c1d1ecbe;
  display: flex;
  flex-direction: column;
  scrollbar-color: #3a74d8be;
}

.message-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.message-item.user-message {
  align-self: flex-end;
  background-color: #007bffb5;
  color: white;
}

.message-item.participant-message {
  align-self: flex-start;
  background-color: #5f77ac;
  color: #ffffff;
}

.message-sender {
  font-size: 0.75em;
  color: #ffffff;
  margin-bottom: 2px;
}

.message-item.user-message .message-sender {
  color: #ffffff;
}

.message-item.new-sender .message-sender {
  margin-bottom: 5px;
}

.message-item:hover {
  transform: translateY(-2px);
}

.message-input {
  display: flex;
  align-items: center; /* Ensure vertical alignment of children */
  padding: 10px 20px;
  border-top: 1px solid #e0e0e0;
}

.attachment-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
  margin-right: 8px; /* Space between the button and input */
  transition: background-color 0.3s ease;
}

.attachment-button:hover {
  background-color: #0056b3;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  background: #c1d1ecbe;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #0056b3;
}

.typing-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 20px;
  padding: 5px 10px;
  color: #888;
  font-style: italic;
  font-size: 0.9em;
  height: 40px; /* Adjust as needed */
  background-color: #c1d1ecbe;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.typing-indicator img {
  width: 30px; /* Adjust as needed */
  height: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.create-button,
.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover,
.close-button:hover {
  background-color: #0056b3;
}

.message-attachment {
  margin-top: 5px;
  font-size: 0.9em;
}

.upload-progress {
  margin-top: 10px;
  color: #007bff;
}

.file-preview {
  margin-top: 10px;
  font-size: 0.9em;
  color: #333;
  display: flex;
  align-items: center;
}

.attachment-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.remove-attachment-button {
  background: none;
  border: none;
  color: #ff4b5c;
  cursor: pointer;
  font-size: 1.2em;
}

.remove-attachment-button:hover {
  color: #e03a47;
}

.attachment-preview {
  max-width: 100px;
  max-height: 100px;
}

.image-modal {
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.enlarged-attachment {
  width: 100%;
  height: auto;
}

.full-size-image {
  max-width: 100%;
  max-height: 100%;
}


/* Poll styles */
.poll-item {
  background-color: #d0e0ff; /* Match the chat window background */
  border: 1px solid #007bff; /* Use a blue border */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.poll-item h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.poll-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poll-option {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 5px 0;
  border: 1px solid #007bff; /* Use a blue border */
  border-radius: 5px;
  background-color: #e9ecef;
  color: #333;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.poll-option:hover {
  background-color: #cfd8dc;
}

.poll-option.voted {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.poll-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.poll-button:hover {
  background-color: #0056b3;
}
