@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'SOYOMapleBoldTTF', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #172233;
}

.login-container {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: slideIn 1s ease-out, glow 2s infinite alternate;
}

@keyframes slideIn {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes glow {
  0% {
      box-shadow: 0 0 20px rgba(66, 133, 244, 0.5);
  }
  100% {
      box-shadow: 0 0 30px rgba(66, 133, 244, 1);
  }
}

.login-container h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
}

.login-container h1::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 50%;
  height: 4px;
  background: #4285F4;
  border-radius: 2px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.login-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4285F4;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: bounce 2s infinite;
}

.login-button:hover {
  background-color: #357ae8;
  transform: translateY(-5px);
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
.chat-container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px 7px #4285F4;
}

.sidebar {
  width: 25%;
  background: #d0e0ff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.logout-button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #ff4b5c;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e03a47;
}

.chat-room-list {
  list-style: none;
  padding: 0;
}

.chat-room-list li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-room-list li:hover {
  background-color: #7983972f;
}

.chat-room-list .active {
  background-color: #7983972f;
}

.create-chat-room,
.search-users {
  margin-top: 20px;
}

.plus-icon {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #ff4b5c;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #e03a47;
}

.chat-room-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #d0e0ff;
}

.chat-window h2 {
  padding: 10px 20px;
  background-color: #c1d1ecbe;
  border-bottom: 1px solid #e0e0e0;
}

.messages-list {
  flex: 1;
  padding: 10px 20px;
  list-style: none;
  overflow-y: auto;
  background: #c1d1ecbe;
  display: flex;
  flex-direction: column;
  scrollbar-color: #3a74d8be;
}

.message-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.message-item.user-message {
  align-self: flex-end;
  background-color: #007bffb5;
  color: white;
}

.message-item.participant-message {
  align-self: flex-start;
  background-color: #5f77ac;
  color: #ffffff;
}

.message-sender {
  font-size: 0.75em;
  color: #ffffff;
  margin-bottom: 2px;
}

.message-item.user-message .message-sender {
  color: #ffffff;
}

.message-item.new-sender .message-sender {
  margin-bottom: 5px;
}

.message-item:hover {
  transform: translateY(-2px);
}

.message-input {
  display: flex;
  align-items: center; /* Ensure vertical alignment of children */
  padding: 10px 20px;
  border-top: 1px solid #e0e0e0;
}

.attachment-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px;
  cursor: pointer;
  margin-right: 8px; /* Space between the button and input */
  transition: background-color 0.3s ease;
}

.attachment-button:hover {
  background-color: #0056b3;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  background: #c1d1ecbe;
}

.message-input button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-input button:hover {
  background-color: #0056b3;
}

.typing-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 20px;
  padding: 5px 10px;
  color: #888;
  font-style: italic;
  font-size: 0.9em;
  height: 40px; /* Adjust as needed */
  background-color: #c1d1ecbe;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.typing-indicator img {
  width: 30px; /* Adjust as needed */
  height: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.create-button,
.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover,
.close-button:hover {
  background-color: #0056b3;
}

.message-attachment {
  margin-top: 5px;
  font-size: 0.9em;
}

.upload-progress {
  margin-top: 10px;
  color: #007bff;
}

.file-preview {
  margin-top: 10px;
  font-size: 0.9em;
  color: #333;
  display: flex;
  align-items: center;
}

.attachment-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.remove-attachment-button {
  background: none;
  border: none;
  color: #ff4b5c;
  cursor: pointer;
  font-size: 1.2em;
}

.remove-attachment-button:hover {
  color: #e03a47;
}

.attachment-preview {
  max-width: 100px;
  max-height: 100px;
}

.image-modal {
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.enlarged-attachment {
  width: 100%;
  height: auto;
}

.full-size-image {
  max-width: 100%;
  max-height: 100%;
}


/* Poll styles */
.poll-item {
  background-color: #d0e0ff; /* Match the chat window background */
  border: 1px solid #007bff; /* Use a blue border */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.poll-item h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.poll-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.poll-option {
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 5px 0;
  border: 1px solid #007bff; /* Use a blue border */
  border-radius: 5px;
  background-color: #e9ecef;
  color: #333;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.poll-option:hover {
  background-color: #cfd8dc;
}

.poll-option.voted {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.poll-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.poll-button:hover {
  background-color: #0056b3;
}
